#map-frame{
}

#map-canvas{
	position: fixed !important;
	width: 100%;
	height: 100%;
	
	overflow: hidden;
}

.navbar{
	margin: 0;
}

.navbar-inner{
	padding:2px 5px 2px 15px !important;
}

#sharify{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 550px;
}

.marginator{
	margin-top: 40px;
}
